/* App.scss */
.App {
  text-align: center;

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;

    .container {
      .title-author-container {
        
        p {
          margin-bottom: 5px;
          font-size: 32px;
          overflow-wrap: break-word;
          
        }
        small {
          a {
            color: white;
            text-decoration: none;
            font-size: 16px;
          }
        }
      }

      .image-buttons-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        img {
          width: 500px;
          height: 500px;
        }
        button {
          margin: 5px;
        }
        .buttons-wrapper {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;

          #change-meme {
            border: none;
            text-align: center;
            align-items: center;
            padding: 25px;
            margin: 0 10px;
            font-size: 25px;
            border-radius: 50%;
            background-color: #ffffff;
          }
          #change-meme:hover {
            background-color: #d2d2d2;
            cursor: pointer;
          }
        }
      }
    }
  }
}
